<VirtualHost *:80>
  ServerName <%= node['basic_web_server']['server_name'] %>
  DocumentRoot <%= node['basic_web_server']['docroot'] %>

  <Directory <%= node['basic_web_server']['docroot'] %>>
    Options FollowSymLinks
    AllowOverride None
    Require all granted
  </Directory>

  <Directory />
    Options FollowSymLinks
    AllowOverride None
  </Directory>

  <Location /server-status>
    SetHandler server-status

    Require local

  </Location>

  RewriteEngine On
  LogLevel info rewrite:trace1

  ErrorLog /var/log/httpd/basic_web_server-error.log
  CustomLog /var/log/httpd/basic_web_server-access.log combined

  RewriteCond %{DOCUMENT_ROOT}/system/maintenance.html -f
  RewriteCond %{SCRIPT_FILENAME} !maintenance.html
  RewriteRule ^.*$ /system/maintenance.html [L,R=503]
</VirtualHost>